.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

font-family: "aukio-std", sans-serif;
font-weight: 400;
font-style: normal;

<style>
 body {
    background-color: #FFF5EE;
 }
 h1{ color:#c86868;  font-size: 24px}
p {color:#c86868; font-size: 10px;
}
a {
    color: inherit; /* Forces the link to match the surrounding text color */
    text-decoration: none; /* Optional: Removes the default underline */
}
#navigation { color: peru; }
a:hover{color: grey;}
.portfoliomain { display:flex; align-items:center ;

}



h1 {font-family: serif;}

</style>